@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
* {
  box-sizing: border-box;
}

.app-container {
  background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(55, 0, 255));
  padding: 25px;
  max-width: 760px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 10px;
}
button {
  border-radius: 50%;
}
h1,
h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #b1c9bb;
  padding: 0 0 10px;
  color: red;
}

.new-task-container {
  text-align: center;
}

.box {
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #fff;
  margin: 15px 0;
}

.todo-list {
  float: left;
  width: 46%;
}

.complete-list {
  float: right;
  width: 46%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

.delete {
  float: right;
}
